.backgroundpic {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.brand{
    text-align: center;
}

.project1 {
    position: absolute;
    lentgh: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }

  .project2 {
    position: absolute;
    lentgh: 25%;
    width: 25%;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }

  .project3 {
    position: absolute;
    lentgh: 25%;
    width: 25%;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(86, 155, 86);
  }

  .project4 {
    position: absolute;
    lentgh: 25%;
    width: 25%;
    top: 79%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }

  .portfolio-container {
    position: relative;
  }

  .home-container {
    position: relative;
  }

  .about-me {
    position: absolute;
    width: 50%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }

  .pokeball{
    position: absolute;
    lentgh: 25%;
    width: 25%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  .github {
    position: absolute;
    lentgh: 25%;
    width: 25%;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
 
  .me{
    position: absolute;
    lentgh: 25%;
    width: 25%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }